<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <section>
            <form method="post">
                <div class="mb-3">
                    <label asp-for="Title" class="form-label">Title</label>
                    <input asp-for="Title" class="form-control" aria-required="true" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Price" class="form-label">Price</label>
                    <input asp-for="Price" class="form-control" aria-required="true" placeholder="0.00" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Description" class="form-label">Description</label>
                    <textarea asp-for="Description" class="form-control" aria-required="true" rows="5"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ImageUrl" class="form-label">Image URL</label>
                    <input asp-for="ImageUrl" class="form-control" aria-required="true" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="SquareMeters" class="form-label">Square Meters</label>
                    <input asp-for="SquareMeters" class="form-control" aria-required="true" placeholder="0.00" />
                    <span asp-validation-for="SquareMeters" class="text-danger"></span>
                </div>
                <div class="mb-5 text-center">
                    <input class="btn btn-success text-white" type="submit" value="Save" />
                </div>
            </form>
        </section>
    </div>
</div>