<header class="main-header header-1">

<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">

    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">Properties.bg</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="properties">Properties</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="properties/create-property">Add Property</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="properties/my-properties">My Properties</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>
